@use 'fn';
@use 'vars';

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin section-padding {
    padding: fn.p2r(40px) fn.p2r(32px);
}

@mixin section-title {
    font-size: fn.p2r(40px);
    margin-bottom: fn.p2r(16px);
}

@mixin decal {
    display: block;
    padding-bottom: fn.p2r(16px);
    position: relative;

    &::before {
        width: fn.p2r(4px);
        height: fn.p2r(4px);
        position: absolute;
        left: fn.p2r(30px);
        content: '';
        background-color: vars.$lightSecondary;
        border-radius: fn.p2r(4px);
    }

    &::after {
        width: fn.p2r(24px);
        height: fn.p2r(4px);
        position: absolute;
        left: fn.p2r(2px);
        content: '';
        background-color: vars.$lightSecondary;
        border-radius: fn.p2r(4px);
    }
}
