// Font
$fontTitle: 'Avenir', sans-serif;
$fontBase: 'Avenir', sans-serif;

// Colors
$bgColor: #100b0d;
$darkPrimary: #3a3438;
$darkSecondary: #655e65;
$highlight: #3e74ae;
$lightPrimary: #9b9fa8;
$lightSecondary: #d6dfe7;
$bright: #fff;

// Breakpoints
$bpMobile: 767px;
$bpTablet: 1023px;
