@use 'config/fn';
@use 'config/mxn';
@use 'config/vars';

.databank {
    min-height: 920px;

    @media screen and (max-width: vars.$bpMobile) {
        padding: fn.p2r(24px) fn.p2r(16px);
    }

    &__title {
        @include mxn.section-title;
        border-bottom: solid 1px vars.$lightSecondary;

        @media screen and (max-width: vars.$bpMobile) {
            font-size: fn.p2r(32px);
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: vars.$bpMobile) {
            display: block;
            width: 100%;
        }

        &__tabs {
            width: 20%;
            display: flex;
            flex-direction: column;

            @media screen and (max-width: vars.$bpMobile) {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: fn.p2r(16px);
                padding-bottom: fn.p2r(16px);
            }

            &__button {
                padding-top: fn.p2r(16px);
                padding-bottom: fn.p2r(16px);
                padding-left: fn.p2r(12px);
                font-size: fn.p2r(16px);
                text-transform: uppercase;
                text-align: left;
                background-color: vars.$darkPrimary;
                color: vars.$lightSecondary;
                border: none;
                cursor: pointer;
                border-left: solid 3px vars.$darkPrimary;

                @media screen and (max-width: vars.$bpMobile) {
                    width: 100%;
                    padding: fn.p2r(16px);
                    text-align: center;
                    border: none;
                    border-bottom: solid 3px vars.$darkPrimary;
                }

                &--is-active {
                    border-left: solid 3px vars.$lightSecondary;

                    @media screen and (max-width: vars.$bpMobile) {
                        border: none;
                        border-bottom: solid 3px vars.$lightSecondary;
                    }
                }

                &:hover {
                    color: vars.$bright;
                }
            }
        }

        &__list {
            width: 78%;
            grid-template-columns: repeat(6, 1fr);
            gap: fn.p2r(16px);
            display: none;

            @media screen and (max-width: vars.$bpMobile) {
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
            }

            &--is-active {
                display: grid;
            }

            &__item {
                padding-bottom: fn.p2r(16px);

                &__image {
                    width: 100%;
                    border-radius: fn.p2r(8px);
                    margin-bottom: fn.p2r(8px);
                }

                &__decal {
                    @include mxn.decal;
                }
            }
        }
    }
}
