@use 'config/fn';
@use 'config/mxn';
@use 'config/vars';
@use 'header';
@use 'banner';
@use 'sinopsis';
@use 'databank';
@use 'videos';
@use 'galerias';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    @include mxn.reset;
    list-style: none;
}

body {
    background-color: vars.$bgColor;
    background-image: url('../images/starry-night.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: vars.$lightSecondary;
    font-family: vars.$fontBase;
}

section {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    background-color: vars.$darkPrimary;
    @include mxn.section-padding;
}
